adium-theme-ubuntu==0.3.4
apt-xapian-index==0.46
awscli==1.10.5
beautifulsoup4==4.3.2
blinker==1.3
botocore==1.3.27
cffi==1.1.2
characteristic==14.3.0
chardet==2.3.0
colorama==0.3.7
command-not-found==0.3
cryptography==1.0.1
Cython==0.23.3
debtags==2.0
decorator==4.0.2
defer==1.0.6
dirspec==13.10
Django==1.9.4
docutils==0.12
duplicity==0.7.2
ecdsa==0.13
elasticsearch==2.1.0
enum34==1.0.4
futures==3.0.5
html5lib==0.999
httplib2==0.9
idna==2.0
ipaddress==1.0.14
ipython==2.3.0
Jinja2==2.8
jmespath==0.9.0
lockfile==0.10.2
lxml==3.4.4
MarkupSafe==0.23
mtools==1.1.9
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
ndg-httpsclient==0.4.0
networkx==1.8.1
oauthlib==1.0.3
oneconf==0.3.8
PAM==0.4.2
paramiko==1.15.2
pexpect==3.2
Pillow==2.9.0
piston-mini-client==0.7.5
ply==3.7
psutil==3.4.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.0.1
pygobject==3.16.2
PyJWT==1.0.0
pymongo==3.0.3
pyOpenSSL==0.15.1
pyserial==2.7
pysqlite==2.7.0
python-apt==1.0.1+ubuntu0.1
python-dateutil==2.4.2
python-debian==0.1.27
python-nghttp2==1.11.0.dev0
pytz==2015.7
pyxdg==0.25
requests==2.8.1
requests-oauthlib==0.5.0
roman==2.0.0
rsa==3.3
s3transfer==0.0.1
service-identity==14.0.0
simplegeneric==0.8.1
six==1.10.0
software-center-aptd-plugins==0.0.0
Sphinx==1.2.3
system-service==0.1.6
Twisted-Core==15.2.1
Twisted-Web==15.2.1
TwitterAPI==2.3.4
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.11
vboxapi==1.0
virtualenv==13.1.2
xdiagnose==3.8.1
zope.interface==4.1.2
